#terms {
    padding-top:20px;
    padding-bottom:50px;
}


.whereWeAre .container{
    justify-content: center;
    text-align: center;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-bottom: 120px;
}

.whereWeAre .container h3{
color: rgb(94, 93, 93);
}

.whereWeAre .whereHead{
    padding-bottom: 30px;
    padding-top:20px;
}


